
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<div class="headertop">
    <a class="arrow" href="@Url.Action("PerCenter", "MobileUser")">
        <img src="~/assets/img/arr-l.svg?9149506640f22a21a29f7fadf88db684" class="ar-l" style="height: 1em; width: 1em;">
    </a>
    <span class="title">使用指南</span>
</div>
<div class="list_show">
    <ul>
        <li><a href="http://mp.weixin.qq.com/s/qClbZiul75i7igM1nUyviw"><div>一键开始课程学习</div> <div class="item_arrow"></div></a><div class="clearboth"></div></li>
        <li><a href="http://mp.weixin.qq.com/s/fCpDdBI5x6yOh2UyoFri-w"><div>关于勋章墙</div> <div class="item_arrow"></div></a><div class="clearboth"></div></li>
        <li><a href="http://mp.weixin.qq.com/s/8brhbJTjKqlU8BvYRcdQQA"><div>关于课程模块</div> <div class="item_arrow"></div></a><div class="clearboth"></div></li>
    </ul>
</div>

